<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- This actual path will serach => http://localhost:4200/servers, we will get the actual page, / means empty -->
    <!-- <a routerLink="/servers">Reload Component</a> -->
     <!-- This relative path will serach => http://localhost:4200/servers/servers, we didnt write any routes like path:'servers/servers'. It will throw error => ERROR RuntimeError: NG04002: Cannot match any routes. URL Segment: 'servers/servers'. So be careful while providing routes -->
    <!-- <a routerLink="servers">Reload Component</a> -->
     <!-- ERROR RuntimeError: NG04002: Cannot match any routes. URL Segment: 'servers/.servers' -->
    <!-- <a routerLink=".servers">Reload Component</a> -->
     <!-- ERROR RuntimeError: NG04002: Cannot match any routes. URL Segment: 'servers/servers' -->
    <!-- <a routerLink="./servers">Reload Component</a> -->
     <!-- http://localhost:4200/servers -->
    <!-- <a routerLink="../servers">Reload Component</a> -->

    <!-- 132 - Using Relative Paths in Programmatic Navigation -->
    <!-- Using ActivatedRoutes -->
    <button (click)="onReloadPage()" class="btn btn-primary mt-2 mb-2">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

