<div class="container">
  <div class="row">
    <div class="col-8">

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Ehen we add routes in href, the refresh button will work and it means that we are sending the request to the server and in the mean time, the page reloads to receive the response and loads the page -->
             <!-- To avoid these slowness, refresh of the page and reloading the component, we have to use routerlinks -->
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/servers">Servers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
              </li>
            </ul> -->
<!-- If we use routerLink instead of href, the refresh button will not work and we can see our page loading immediately when we click on the link -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" routerLink="/servers">Servers</a> -->
                 <!-- We can also use the absolute path like this => http://localhost:4200/servers -->
                <a class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                routerLink="servers">Servers</a>
              </li>
              <li class="nav-item">
                <!-- We will see about this in the next lecture -->
                <!-- <a class="nav-link" [routerLink]="['/users']">Users</a> -->
                 <!--We can also use the absolute path like this =>  http://localhost:4200/users -->
                <a class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                [routerLink]="['users']">Users</a>
              </li>
            </ul>

<!-- Till now when we click on the menu, we can see the page changes immediately, but we cannot see the tab changes. We will look this later -->
          </div>
        </div>
      </nav>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <router-outlet>
    </router-outlet>
  </div>
</div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-8">
        <app-home></app-home>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <app-users></app-users>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <app-servers></app-servers>
      </div>
    </div>
  </div> -->
